/* Navbar styles */
.navbar {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    color: #333;
}

.navbar-toggler {
    border-color: #333;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' width='30' height='30' stroke='%23333' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2'%3E%3Cpath d='M4 7h22M 15h22M4 23h22'/%3E%3C/svg%3E");
}

.nav-link {
    color: #333;
}

.nav-link:hover {
    color: #ec347c;
}
